# example configuration: copy this file to '.env' or set everything here as
# environment variables prior to starting the application

# log level
LOG_LEVEL=debug
# be extraordinarily noisy
#DEBUG='*'

# listen port
PORT=8039
# https
TLS=false
#TLS_CERT=cert.pem
#TLS_KEY=key.pem

# database connection settings
PGHOST=/var/run/postgresql
#PGPORT=5432
#PGUSER=
#PGPASSWORD=
PGDATABASE=mindustryauth

# base url of the application
BASE_URL='http://localhost:8039/'
# whether or not to enable registration
ENABLE_REGISTRATION=true
# maximum amount of connect requests any user may have
MAX_CONNECT_REQUESTS=5
# maximum amount of sessions any user may have
MAX_SESSIONS=10
# message sent by server upon login
LOGIN_NOTICE="Hello"
# session expiry time in seconds
SESSION_EXPIRY=604800
# connection request expiry time in seconds
CONNECT_EXPIRY=60
# interval in seconds for each run of database cleanup, comment to disable
DB_CLEANUP_TIME=3600

# recaptcha
RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe

# production
#NODE_ENV=production
